@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: "Poppins", serif;
font-family: "Manrope", serif;
font-family: "Inter", serif; */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", serif
}

/* shared style */
.side-margin{
    margin: 20px 80px;
}

/* navbar design */
.navbar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.navbar h3{
    color: #3A3A3A;
}
.navbar ul{
    display: flex;
    gap: 50px;
    align-items: center;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: #3A3A3A;
}
.navbar ul li .nav-icon{
    font-size: 30px;
}

/* Hero section styles */